<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/500.css') }}"
    />
  </head>
  <body>
    <section class="wrapper">
      <div class="container">
        <div id="scene" class="scene" data-hover-only="false">
          <div class="circle" data-depth="1.2"></div>

          <div class="one" data-depth="0.9">
            <div class="content">
              <span class="piece"></span>
              <span class="piece"></span>
              <span class="piece"></span>
            </div>
          </div>

          <div class="two" data-depth="0.60">
            <div class="content">
              <span class="piece"></span>
              <span class="piece"></span>
              <span class="piece"></span>
            </div>
          </div>

          <div class="three" data-depth="0.40">
            <div class="content">
              <span class="piece"></span>
              <span class="piece"></span>
              <span class="piece"></span>
            </div>
          </div>

          <p class="p404" data-depth="0.50">500</p>
          <p class="p404" data-depth="0.10">500</p>
        </div>

        <div class="text">
          <article>
            <p>
              Uh oh! Looks like we have messed up. <br />
              Go back to the homepage or try again later.!
            </p>
            <button>I dare!</button>
          </article>
        </div>
      </div>
    </section>
  </body>
  <script src="{{ url_for('static', filename='js/500.js') }}"></script>
</html>
